.container {
  height: max(500px, 50vh);
  width: max(500px, 50vh);
}

.inputs {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.input--text {
  flex-grow: 1;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  text-indent: 0.5rem;
}

.navbar--bg {
  background-color: rgb(87, 1, 93);
  padding: 10px;
  text-align: center;
}

.navbar--title {
  color: white;
}

.meme {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.meme--img {
  position: relative;
}

.meme > img {
  max-height: 300px;
  width: auto;
  height: auto;
}

.topText,
.bottomText {
  position: absolute;
  color: white;
  text-shadow: -1px 3px 3px #000;
  font-weight: bold;
  font-size: 2rem;
  left: 50%;
  transform: translate(-50%);
}

.topText {
  top: 20px;
}

.bottomText {
  bottom: 20px;
}

.meme > button {
  margin-top: 8px;
}
